/* общие стили */

html {
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

.clearfix::after {
    display: block;
    content: "";
    clear: both;
}

body {
	margin: 0;
	background-color: #141414;
	background-position: center top;
	background-image: url("img/background.jpg");
	background-repeat: no-repeat;
	text-transform: uppercase;
}

.container {
	width: 960px;
	margin: 0 auto;
}

.visually-hidden {
	display: none;
}

/* временные стили */

body > * {
	outline: 3px dotted red;
}

body > * > * {
	outline: 3px dotted green;
}

body > * > * > * {
	outline: 3px dotted blue;
}

/* хедер страницы */

.main-header {
	min-width: 960px;
	background-color: #000000;
	color: #FFFFFF;
	font-size: 16px;
}

.main-header a {
	color: #FFFFFF;
	display: inline-block;
	padding: 27px 0;
	margin-left: 20px;
	margin-right: 20px;
}

.main-header ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.main-header-inner {
	
}

.main-navigation {
	float: left;
}

.main-navigation li {
	float: left;
}

.user-nav {
	float: right;
}

/* основное содрежимое */

.main-content {
	min-width: 960px;
}

.main-page-title {
	text-align: center;
	margin: 0;
	padding: 60px 0 70px;
}

.advantages {
	color: #FFFFFF;
	text-align: center;
}

.advantages ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.advantages li {
	float: left;
	width: 33.33%;
	padding-left: 22px;
	padding-right: 22px;
}

/* футер страницы */

.main-footer {
	min-width: 960px;
	background-color: #222222;
	background-image: url("img/pattern.jpg");
	background-repeat: repeat;
	color: #FFF;
	padding-top: 60px;
	padding-bottom: 40px;
}

.footer-contacts {
	float: left;
	width: 320px;
	margin-right: 90px;
}

.footer-social {
	float: left;
}

.footer-copyright {
	float: right;
}